.view-container {
    padding: 0px 26px;
    p,label {
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
    }
    .view-details {
        margin-top: 25px;
    }
    .pb {
        p {
            margin-bottom: 3px !important;
        }
    }
    .batch {
        margin-top: 22px;
    }
    .ant-select {
        width: 100%;
    }
    .ant-divider{
        margin: 0px !important
    }
    .filter{
        margin-top: 10px;
        .unapproved {
            margin-top: 5px;
            label {
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              letter-spacing: 0em;
              color: #777777;
            }
        }
        .arrow-right {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            button {
                border: none;
                background: white;
                color: #262626;
            }
            svg {
                color: #093185;
                font-size: 20px;
            }
        }
    }
    .table-cont {
        margin-top: 10px;
      .ant-table {
          border: none !important;
      }
      .ant-table-thead > tr > th {
          background-color: white;
          padding: 5px 1px !important;
      }
      .ant-table-tbody > tr > td {
        padding: 7px 1px !important;
        border: none !important;
    }
    }
    .search-table {
        .ant-table-thead > tr > th {
            padding: 7px !important;
            background-color: white;
        }
        .ant-table-tbody > tr > td {
            padding: 7px !important;
        }
        .table-box {
            p {
                text-align: right;
                padding: 4px 10px 4px 0px;
                color: #486BC9;
                font-family: Roboto;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 0em;
                cursor: pointer;
            }
            svg{
                margin-top: 5px;
            }
            box-shadow: 0 3px 6px -4px #fff, 0 6px 16px 0 #fff, 0 9px 28px 8px #fff;
        }
    }
}