.landing-modal {

	.ant-modal-content {
		width: 787px;
		height: auto;
		background: #ffffff;
		border-radius: 4px;
	}

	.ant-modal-footer {
		border-top: 0px;
	}

	.modal-button {
		background-color: var(--primary-color);
		color: 'white';
		border-radius: '4px';
	}

	.ant-modal-close-x {
		margin-top: -5px;
	}

	.ant-modal-header {
		background: #f1f7ff !important;
		border-radius: 4px 4px 0px 0px !important;
		font-family: var(--secondary-font-family);
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		color: #4d4d4d;
	}

	.ant-spin-container {
		bottom: 20px;
	}
}