.alert-right-top {
	position: absolute !important;
	right: 10px;
<<<<<<< HEAD
	top: 60px;
	z-index: 10000;
}
=======
	top: 10px;
	z-index: 10000;
}
>>>>>>> 75fee5159bec5ea994b7cdb9af600bab173ef364
