.chart-details-input {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 20px;
}

.no-chart-data {
  font-size: 170px;
  color: rgb(230, 247, 255);
  text-align: center;
  margin: 0px auto;
  width: 505px;
  height: 280px;
}
