.limit-container {
    padding: 0px 26px;
    p {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
    }
    .table-bottom {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        .control-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            p {
                margin-bottom: 0px !important;
            }
            .custom-primary-btn {
                margin: 0px !important;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: #262626;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                border: 1px solid #093185;
                background: #fff;
            }
            .custom-primary-btn:focus,
.custom-primary-btn:hover {
  color: #fff;
  border-color: #486bc9;
  background: #486bc9;
}
        }
    }
    button {
        border:1px dashed #D9D9D9;
        margin: 8px 0px 5px 0px;
    }
}