.workspace-illustration {
	text-align: center;

	img {
		height: 165px;
	}
}


.workspace-wrapper {
	display: grid;
	grid-template-columns: 1.9fr 1fr;
	grid-gap: 0px 24px;
	margin-top: 15px;
}

.workspace-main-block {
	display: grid;
	grid-template-rows: auto auto auto;
	gap: 24px;
}

.workspace-innerColumn {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
}

.workspace-card1 {
	//width: 401px;
	height: 220px;
	background: #ffffff;
	box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	border-radius: 4px;
}

.workspace-card2 {
	//width: 428px;
	height: 220px;
	background: #ffffff;
	box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	border-radius: 4px;
}

.workspace-chart {
	//width: 853px;
	display: flex;
	flex: 1;
	height: 545px;
	background: #ffffff;
	box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

.workspace-recent {
	height: 317px;
	background: #ffffff;
	box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin-top: 24px;
}

.workspace-outerColumn {
	display: grid;
	//grid-template-rows:1fr 1fr;
	height: fit-content;
	gap: 24px;
}

.workspace-table1 {
	//width: 455px;
	//max-height: 341px;
	overflow-y: hidden;
	box-sizing: border-box;
	border-radius: 4px;
	background: #ffffff;
	box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
}

.workspace-table2 {
	//width: 455px;
	//max-height: 407px;
	height: 700px;
	overflow-y: hidden;
	background: #ffffff;
	box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

.deviation-text {
	margin-left: 10px;
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.03em;
	color: rgba(0, 0, 0, 0.85);
}

.innercard {
	padding: 10px;
	margin: 12px 13px;
}

.approval-count {
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: rgba(0, 0, 0, 0.85);
	margin: 0px;
}

.approval-text {
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	display: flex;
	align-items: center;
	color: rgba(0, 0, 0, 0.45);
}

.workspace-review {
	margin-left: 5px;
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	color: #04ceb6;
}

.paper-batch-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
}

.paper-batch-count {
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #089482;
}

.paper-batch-desc {
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 38px;
	text-align: center;
	color: rgba(0, 0, 0, 0.85);
}

.avatar-block {
	border-top: 1px solid #cacaca;
	padding: 8px 21px;

	p {
		margin: 0;
		padding: 2px 0;
	}
}


.workspace-tabs {
	margin-top: 18px;

	.ant-tabs-nav-list {
		display: flex;
		flex: 1;
		justify-content: space-between;

		>.ant-tabs-tab {
			padding: 0;
			flex: 1;

			>.ant-tabs-tab-btn {
				flex: 1;
				font-family: var(--primary-font-family);
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 22px;
				color: #000000;
				text-align: center;
			}
		}

		>.ant-tabs-tab-active {
			flex: 1;

			>.ant-tabs-tab-btn {
				flex: 1;
				font-family: var(--primary-font-family);
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 22px;
				color: #ffffff;
				background: #3f3d56;
				border: 1px solid #bcbcbc;
				box-sizing: border-box;
				border-radius: 60px;
				text-align: center;
				padding: 8px 0px;
			}
		}

		.ant-tabs-ink-bar {
			background: transparent;
		}
	}

	.ant-tabs-nav {
		.ant-tabs-nav-wrap {
			border: 1px solid #bcbcbc;
			box-sizing: border-box;
			border-radius: 60px;
		}
	}
}

.workspace-processCharts {
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.03em;
	color: rgba(0, 0, 0, 0.85);
}



.workspace-processChart-main {
	margin: 25px;
}

.workspace-processView {
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.03em;
	color: rgba(0, 0, 0, 0.85);
}

.recentcard {
	padding: 18px 10px;
	margin: 12px 13px;
}

.workspace-processView-main {
	margin: 25px 25px 25px 10px;
}

.empty-workspace {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tile {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}


.workspace-legend {
	display: flex;
	flex-direction: row;
	float: right;
}

.no-approval {
	margin-top: 32px;
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 38px;
	text-align: center;
	color: rgba(0, 0, 0, 0.85);
}