.workspace_head {
    display: flex;
    flex-direction: row;
    flex: 1;
    // width: 1332px;
    height: 185px;
    background: linear-gradient(180deg, #e7e6ff 0%, #fff4f4 100%);
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    .ant-card-body {
      display: flex;
      flex: 1;
      flex-direction: row;
      padding-top: 40px;
    }
  }
  
  .workspace-username {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    color: #000000;
  }
  .workspace-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .workspace-illustration {
    height:137px;
    // float: right;
    // position: relative;
    // /* top: 0px; */
    // bottom: 112px;
    // right: 300px;
  }
  .workspace-resultdate {
    // float: right;
    // position: relative;
    // bottom: 90px;
    // left: 915px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
  }
  
  .workspace-wrapper {
    display: grid;
    grid-template-columns: 1.9fr 1fr;
    grid-gap: 0px 24px;
    margin-top: 15px;
  }
  .workspace-main-block {
    display: grid;
    grid-template-rows:auto auto auto;
    gap: 24px;
  }
  .workspace-innerColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .workspace-card1 {
    //width: 401px;
    height: 220px;
    background: #ffffff;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .workspace-card2 {
    //width: 428px;
    height: 220px;
    background: #ffffff;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .workspace-chart {
    //width: 853px;
    display: flex;
    flex:1;
    height: 545px;
    background: #ffffff;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  .workspace-recent{
      height: 317px;
      background: #ffffff;
      box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      margin-top: 24px;
  }
  .workspace-outerColumn {
    display: grid;
    //grid-template-rows:1fr 1fr;
    height: fit-content;
    gap: 24px;
  }
  .workspace-table1 {
    //width: 455px;
    //max-height: 341px;
    overflow-y: hidden;
    box-sizing: border-box;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
  }
  .workspace-table2 {
    //width: 455px;
    //max-height: 407px;
    height: 743px;
    overflow-y: hidden;
    background: #ffffff;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .workspace-subheader {
    padding: 10px 29px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 50px;
  }
  
  .deviation-text {
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.85);
  }
  .innercard {
    padding: 10px;
    margin: 12px 13px;
  }
  .approval-count {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);
    margin: 0px;
  }
  
  .approval-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.45);
  }
  
  .workspace-review {
    margin-left: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #04ceb6;
  }
  
  .paper-batch-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }
  .paper-batch-count {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #089482;
  }
  .paper-batch-desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
  }
  .avatar-block {
    border-top: 1px solid #cacaca;
    padding: 8px 21px;
    p {
      margin: 0;
      padding: 2px 0;
    }
  }
  
  // .workspace-tabs {
  //   .ant-tabs-nav-list {
  //     > .ant-tabs-tab {
  //       > .ant-tabs-tab-btn {
  //         font-family: 'Roboto';
  //         font-style: normal;
  //         font-weight: 600;
  //         font-size: 14px;
  //         line-height: 22px;
  //         /* identical to box height, or 157% */
  //         color: #262626;
  //       }
  //     }
  //     > .ant-tabs-tab-active {
  //       > .ant-tabs-tab-btn {
  //         font-family: 'Roboto';
  //         font-style: normal;
  //         font-weight: 600;
  //         font-size: 14px;
  //         line-height: 22px;
  //         /* identical to box height, or 157% */
  //         color: #089482;
  //       }
  //     }
  //     .ant-tabs-ink-bar {
  //       background: #089482;
  //     }
  //   }
  // }
  
  .workspace-tabs {
      margin-top:38px;
      .ant-tabs-nav-list {
          display: flex;
          flex: 1;
          justify-content: space-between;
        > .ant-tabs-tab {
          padding: 0;
          flex: 1;
          > .ant-tabs-tab-btn {
              flex: 1;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color:#000000;;
            text-align: center;
          }
        }
        > .ant-tabs-tab-active {
              flex: 1;
          > .ant-tabs-tab-btn {
              flex: 1;
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
              color:  #FFFFFF;
              background: #3f3d56;
              border: 1px solid #bcbcbc;
              box-sizing: border-box;
              border-radius: 60px;
              text-align: center;
              padding: 8px 0px;
          }
        }
        .ant-tabs-ink-bar {
          background: transparent;
        }
      }
      .ant-tabs-nav {
        .ant-tabs-nav-wrap {
          border: 1px solid #bcbcbc;
          box-sizing: border-box;
          border-radius: 60px;
        }
      }
    }
  
    .workspace-processCharts{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.03em;
      color: rgba(0, 0, 0, 0.85);
    }
    .workspace-processCharts-name{
      display:flex;
      justify-content: center;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
    }
  
    .workspace-processCharts-id{
      display:flex;
      justify-content: center;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px; 
      color: #000000;
      margin-top: 0px;
    }
  
    .workspace-processChart-card{
      width:162px;
      height:84px;
      background: #E2E8F2;
      border-radius: 4px;
      padding: 10px;
      cursor: pointer;
      position: relative;
    }
  
    .workspace-processChart-main{
        margin:25px;
    }
  
    .workspace-processView{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.03em;
      color: rgba(0, 0, 0, 0.85);
    }
    .workspace-processView-name{
      display:flex;
      justify-content: center;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
    }
  
    .workspace-processView-id{
      display:flex;
      justify-content: center;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px; 
      color: #000000;
      margin-top: 0px;
    }
  
    .workspace-processView-card{
      width:162px;
      height:84px;
      background: #E2E8F2;
      border-radius: 4px;
      padding: 10px;
      cursor: pointer;
      position: relative;
    }
  
    .recentcard{
      padding: 25px;
      margin: 12px 13px;
    }
    .workspace-processView-main{
        margin:25px 25px 25px 10px;
    }

    .empty-workspace{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .tile-status
{
    // background: #F7BB61;
  border-radius: 0px 4px;
    margin-right: right;
    position: absolute;
     top: 0%; 
    right: 0%;
    width: 52px;
    align-content: center;
    font-size: small;
    padding: 0px 10px;
}

    .awap
    {
        background: #F7BB61;
        align-content: center;
    }
    .aprd
    {
      background: #A4F588;
    }
    .drft
    {
        background: #363636;
        color: white;
    }

    .workspace-legend{
      display: flex;
      flex-direction: row;
      float: right;

    }