.vertical {
  border-left: 0.5px solid rgba(0, 0, 0, 0.45);
  height: 20px;
  position: absolute;
  left: 52%;
}

.show-data {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 150px 20px;
  grid-gap: 0px 10px;
  p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
  }

  button {
    margin: 5px 0;
  }
}
