// body {
// 	overflow: visible;
// }

.create-new-row {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2rem;
}

.create-new {
	height: 168px;
	width: 217px;
	border-radius: 4px;
	background-color: #ffffff;
	border: 1px solid #486bc9;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 1rem;
	padding: 20px !important;
	cursor: pointer;
	width: 100%;

	svg {
		margin-top: 10px !important;
		font-size: 40px;
		color: #cbcbcb;
	}

	p {
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		color: #494949;
	}
}

.create-new ~ p {
	text-align: center;
}

.create-new:hover {
	border: 2px solid var(--border-color);

	p {
		color: var(--border-color);
	}
}

.dashboard-image img {
	position: relative;
	top: 19px;
}

.custom-user-roles-wrapper .ant-card.ant-card-bordered.screen_header_wrap {
	margin: 15px 0;
}

.custom-user-roles-wrapper {
	padding: 0 30px;
}

.custom-user-roles-wrapper .ant-row {
	background: #fff;
	padding: 20px 15px;
	margin-top: 15px;
	border-radius: 5px;
}

.custom-user-roles-sub-header {
	background: #f1f7ff;
	margin: 15px 0 0;
	padding: 10px 15px;
}

.custom-user-roles-sub-header .sub-header-title {
	width: 25%;
	cursor: pointer;
}

.custom-user-roles-sub-header .sub-header-title > .go-back--header-icon {
	font-size: 16px;
	vertical-align: middle;
}

.custom-user-roles-sub-header .header-title {
	display: inline-block;
	word-wrap: normal;
	vertical-align: middle;
}

.custom-table-wrapper {
	background: #fff;
	padding: 20px;
	position: relative;

	thead > tr > th {
		background-color: #f0f7fa;
	}
}

.panel-delete-button {
	width: 6%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.custom-panel p {
	display: inline-block;
	min-width: 20%;
	vertical-align: top;
	margin: 11px 0 0 0;
}

custom-panel .panel-repeat {
	display: inline-block;
	min-width: 80%;
}

.custom-panel .panel-repeat {
	display: inline-block;
	min-width: 80%;
	vertical-align: top;
}

.ant-col.ant-col-18.custom-panel {
	max-width: 80%;
	flex: 0 0 80%;
}

.panel-repeat > div > span {
	display: inline-block;
	min-width: 40%;
}

.panel-repeat > div > span:first-child {
	min-width: 220px;
}

.panel-repeat > div > span.anticon.anticon-delete {
	display: inline-block;
	min-width: auto;
}

.panel-repeat > div > span label {
	display: block;
	margin: 0 10px 4px 0;
}

.panel-repeat > div {
	margin: 0 0 15px;
}

.panel-repeat > div > span .ant-select.ant-select-multiple {
	margin-right: 20px !important;
	display: block;
}

.custom-user-roles-wrapper .ant-row.create-new-row {
	text-align: center;
	display: block;
}

.create-new-row .ant-col.ant-col-4 {
	display: inline-block;
	margin: 10px 15px 0;
}

.create-new-row .ant-col.ant-col-4 p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #494949;
}

.custom-table-wrapper p ~ button {
	position: absolute;
	right: 20px;
	top: 12px;
}

.custom-row {
	display: flex;
	align-items: flex-end;
	text-align: right;
	margin-bottom: 15px;
}

.custom-table-wrapper .ant-collapse-header {
	background-color: #fafafa !important;
}

button[role='switch'][aria-checked='true'] {
	background-color: #083185;
}
<<<<<<< HEAD
=======

.ant-popover-inner-content {
	border-radius: 4px;
}

.ant-popover-inner-content .ant-btn.ant-btn-primary.ant-btn-sm {
	background: var(--primary-color);
	border: var(--primary-color);
}

.ant-popover-inner-content .ant-btn.ant-btn-default.ant-btn-sm:hover {
	background: #486BC9;
	color: #fff;
}

.ant-checkbox-checked .ant-checkbox-inner {
	background-color: var(--primary-color) !important;
	border-color: var(--primary-color) !important;
}

.button--delete {
	float: right;
	margin-right: 16px;
	border: 1px solid var(--primary-color) !important;
	background-color: #fff !important;
	color: var(--primary-color) !important;
	border-radius: 4px;
}

.button--delete:hover {
	background-color: #fff !important;
	color: #486BC9 !important;
}
>>>>>>> 00f994114ab44f622bdeb42c7364acfa45957723
