.create-new-row {
	display: flex;
	justify-content: space-evenly;
}


.create-new {
	height: 137px;
	width: 175px;
	border-radius: 4px;
	background: #ffffff;
	border: 1px dashed #d9d9d9;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 13px;
	margin-bottom: 10px;
	cursor: pointer;

	svg {
		cursor: pointer;
		margin-top: 10px !important;
		font-size: 40px;
		color: #cbcbcb;
	}

	p {
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		color: #494949;
	}
}

.create-new:hover {
	border: 1px dashed #40a9ff;

	p {
		color: #40a9ff;
	}
}