.limit-container {
    .landing-search-wrapper {
        background: #fff;
        border-radius: 4px;
        margin-top: -10px;
    
        .landing-card {
            margin: 36px;
            overflow: hidden;
            padding: 40px 0;
        }
    }
    .ant-table-thead > tr > th {
        background-color: #E7E5FF;
        height: 56px;
    }
    .action-table {
        display: flex;
        gap: 20px;
    }
    tr.ant-table-expanded-row>td {
        padding: 0px !important;
      }
    .expand-table {
        .empty-space {
            background-color:#E7E5FF;
        }
    }
}