.create-new {
	height: 137px;
	width: 175px;
	border-radius: 4px;
	background: #ffffff;
	border: 1px dashed #d9d9d9;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 40px;
	margin-bottom: 10px;

	svg {
		cursor: pointer;
		margin-top: 10px !important;
		font-size: 40px;
		color: #cbcbcb;
	}

	p {
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		color: #494949;
	}
}



.tile {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 13px 24px;
}

.landing-table {
	margin-top: 10px;
}

.landing-btn {
	background-color: #162154 !important;
}


.landing-search-wrapper {
	background: #fff;

	.landing-card {
		width: 784px;
		margin: 24px auto;
		overflow: hidden;
		padding: 40px 0;
	}
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child {
	left: 0;
}

.card-legends {
	border-bottom: 1px solid #e2e2e2;
	margin: 4px 0 10px 0;
	display: flex;
	justify-content: space-between;

	.legends {
		display: flex;

		p {
			padding: 0 10px 0 0;
			display: flex;
			margin: 0px;

			.drft {
				width: 14px;
				height: 14px;
				border-radius: 50px;
				background: #363636;
				display: block;
				margin: 3px 6px;
			}

			.aprv {
				width: 14px;
				height: 14px;
				border-radius: 50px;
				background: #a4f588;
				margin: 3px 6px;
				display: block;
			}

			.await {
				width: 14px;
				height: 14px;
				border-radius: 50px;
				background: #f6ba60;
				margin: 3px 6px;
				display: block;
			}

			.reject {
				width: 14px;
				height: 14px;
				border-radius: 50px;
				background: rgb(214, 64, 69);
				margin: 3px 6px;
				display: block;
			}
		}
	}
}

.landing-btn {
	.ant-input-search-button {
		background-color: var(--primary-color);
	}
}

.ant-table-tbody>tr>td {
	cursor: pointer;
}