.view-summary_lable {
	display: flex;
	gap: 50px;
}

.param-table {
	position: relative;
	margin-top: 60px;

	.param-column {
		position: absolute;
		right: 4px;
		z-index: 1;
		background: #f0f7fa;
		padding: 8px 10px;
		top: 5px;

		.right-circle {
			font-size: 18px;
			margin: 3px 0;
			color: #486BC9;
			cursor: pointer;
		}
	}
}

.batch-modal {
	.ant-input-group-wrapper {
		width: 50%;
	}
}

.batch-table-block {
	overflow: hidden;

	.batch-table-footer {
		float: right;
		margin: 16px 0 0 0;

		button {
			margin: 0px 4px;
		}

	}
}

.batch-modal {
	.ant-input-group-wrapper {
		width: 50%;
	}
}

span.batchChecked,
span.statusChecked {
	color: #00a811;
	font-size: 16px;

	.anticon-check-circle {
		font-size: 16px;
	}
}

span.batchClosed,
span.statusClosed {
	color: #db0000;
	font-size: 16px;
}

.custom-check {
	>span {
		background: var(--primary-color);
		border-radius: 50px;
		width: 22px;
		height: 22px;
		border: 1px solid var(--primary-color);
		padding: 2px;

		.ant-checkbox-inner {
			background-color: transparent;
			border-color: transparent;
		}
	}
}

.delete-param {
	color: #FF2828;
	font-size: 18px;
}

.variable__input--block {
	.input_field {
		>p {
			width: 160px;
			padding: 0;
			line-height: 30px;
		}
	}
}

.variable__input--button {
	display: flex;
	flex-direction: row-reverse;
	gap: 16px;
	margin: 16px 0 0 0;
}

.code-editor__wraper {
	display: flex;
	gap: 20px;

	.function__collapse--wrapper {
		width: 250px;
		background: #fff;
		border: 1px solid #d9d9d9;

		.ant-collapse-item {
			.ant-collapse-header {
				font-size: 14px;
				font-weight: 500;
				padding: 12px 0 12px 14px;
				color: #262626;
				font-family: var(--secondary-font-family);
				font-style: normal;
				line-height: 22px;

				div {
					position: absolute;
					right: 0;
				}
			}
		}

		.ant-collapse-content>.ant-collapse-content-box {
			padding: 0;
		}
	}

	.code-editor__function--wrapper {
		flex: 1 1 auto;

		.function__logs--wrapper {
			padding-top: 10px;

			>p {
				margin: 0 !important;
				font-family: var(--primary-font-family);
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 22px;
				color: #262626;
				padding-bottom: 5px;
			}
		}

		.function__editor {
			display: flex;
			gap: 20px;

			.input_field {
				width: 100%;

				>p {
					display: none;
				}
			}
		}

		.evaluate-function__wrapper {
			display: flex;
			margin: 24px 0;
			gap: 20px;
			justify-content: space-between;

			.ant-checkbox-wrapper {
				padding: 4px 0;
			}
		}
	}

}

.view-summary__table--wrapper {
	padding: 28px 0;

	.summary-column {
		display: flex;
		gap: 12px;
		width: 100px;
		cursor: pointer;

		p {
			margin: 0;
		}

		span>span {
			color: #ff2828;
			cursor: pointer;
		}
	}
}


.summary__card {
	height: calc(100vh - 434px);
}

.paramtitle--overflow {
	width: 160px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.path--overflow {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.remove_icon {
	span:nth-child(1) {
		display: none !important;
	}

	span:nth-child(2) {
		margin: 0px !important;
	}
}

.function-alert {
	background: #e3ffe6;
	border: 1px solid #b7eb8f;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 14px;

	p {
		margin: 0;
		font-family: var(--primary-font-family);
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 22px;
		/* identical to box height, or 138% */
		letter-spacing: 0.01em;
		color: #000000;
	}

	span {
		span {
			background: #52c41a;
			color: #fff;
			border-radius: 50px;
			font-size: 18px;
			margin: 2px 6px;
		}
	}
}