.select_field {
  p {
    margin-bottom: 0;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    /* Gray / gray-9 */
    color: #262626;
  }
}

.ant-card-bordered {
  border: 1px solid #f0f0f0;
  box-shadow: 1px 1px 14px #0000001a !important;
}
