:root {
	--primary-color: #093185;
	--link-color: #1890ff;
	--success-color: #52c41a;
	--warning-color: #faad14;
	--error-color: #f5222d;
	--secondary-color: #162154;
	--secondary-light-color: #002766;
}
