.btns {
    button {
        margin-right: 16px;
        background: #FFFFFF;
        border: 1px solid #093185;
        border-radius: 4px; 
    }
}

.dashboard-save{
    .ant-modal-header{
        background: #FFFFFF;
        border-bottom: 0px !important;
        border-radius: 0px !important;
    }
    .ant-modal-content{
        margin:150px;
        width:350px;
    }
    .ant-modal-footer{
        border-top:0px !important;
    }
}