.dynamicSections-spaceRows
{
    background-color: grey;
    color: hotpink;
}
::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  }
.ant-input-textarea
  {

    background-color: #baeaff 
  }