.tableIdentifier {
  .ant-form-item {
    margin: 5px 0 5px !important;
  }
  .ant-table-tbody > tr > td {
    padding: 5px 5px 5px 5px !important;
  }
}

.tableDiv{
    height: 200 !important;
    overflow-y: scroll !important;
}
