.editable__modal-content {
	display: flex;
}

.content_tabs {
	.arrow_icon {
		margin-right: 11px;
	}

	.ant-card-head {
		height: 46px !important;
		padding: 3px 1px;
	}

	.ant-card-head-title {
		margin-left: 61px;
		font-family: 'Maven Pro';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		color: #4D4D4D;
	}

	.ant-card-body {
		margin-left: 51px;
	}
}


.plus-outlined {
	width: 40px;
	height: 31px;
	background: #D9D9D9;
	padding: 8px;
}

.data_entry_panel {

	.trigger-panel_closed {
		position: absolute;
		left: 225px;
		top: 93%;
		transform: rotate(180deg);
		z-index: 1000;
		cursor: grabbing;
	}

	.trigger-panel {
		position: absolute;
		left: 15px;
		top: 93%;
		z-index: 1000;
		cursor: grab;
	}

	.panel_button {
		width: 205px;
		height: 32px;
		left: 16px;
		top: 16px;
		color: white;
		background: #093185;
		border-radius: 4px;
		margin-bottom: 24px;
	}

	.panel_view_button {
		width: 47px;
		height: 24px;
		padding: 1px 8px;
		gap: 8px;
		margin-top: 5px;
		left: 39%;
		background: #162154;
		border-radius: 2px;
		color: white;
	}

	.record_list {
		width: 100%;
		height: auto;
		left: 6px;
		word-wrap: break-word;
		top: 64px;
		border: 1px solid #F0F0F0;
		padding: 1px 8px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		background: white;
		color: #353535;
	}

	.record_list_selected {
		word-wrap: break-word;
		width: 100%;
		height: auto;
		left: 6px;
		top: 64px;
		border: 1px solid #F0F0F0;
		padding: 1px 8px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		background: #d2effd;
	}


	.ant-layout-sider {
		background-color: #fff;
		width: 247px !important;
		height: 425px;
		flex: 0 0 247px !important;
		max-width: 247px !important;
		min-width: 247px !important;
		min-height: 425px;
		border: 2px solid #ADC6FF;
		border-top: none;
		position: absolute;
		transition: 0.2s;
		z-index: 1000;
	}

	.create_new_record {
		padding: 5px 18px;
		gap: 8px;
		width: 247px;
		height: 32px;
		background: #EDECFF;
		z-index: 1000;
		border-radius: 4px 4px 0px 0px;
		border: 2px solid #ADC6FF;
		border-bottom: none;
	}

	.records_view {
		margin-top: 6px;
		min-height: 300px;
		height: 390px;
		border: none;
	}

	.records_view_scroll {
		margin-top: 6px;
		overflow-y: scroll;
		height: 350px;
		border: none;
	}

	.ant-layout-sider-collapsed {
		width: 40px !important;
		flex: 0 0 12px !important;
		max-width: 40px !important;
		min-width: 40px !important;
		height: 425px;
		background-color: #ADC6FF;
		border: 2px solid #ADC6FF;
	}

	.panel_img {
		margin-right: 100%;
	}
}

.editable__modal-text {
	font-family: 'Maven Pro';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #262626;
}

.editable__modal-small-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #262626;
}

.editable__table-cancel {
	margin-right: 8px;
	border: 1px solid var(--primary-color) !important;
	background-color: #fff !important;
	color: var(--primary-color) !important;
	border-radius: 4px !important;
}

.keypair__table {
	width: 600px;
	margin: 10px 0;
}

.data_form_first {
	margin-left: 205px;
}

.data_form_first_collapsed {
	margin-left: 0px;
}

.table-wrapper {
	.table-head {
		.table-heading {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 22px;
			letter-spacing: 0.01em;
			color: #6D6D6D;
			margin: 0px;
		}

		#editable-table-button-add-new-user {
			margin-bottom: 2px;
		}
	}

}

.dynamic-form-wrapper {
	display: flex;
	gap: 12px;
	margin: 40px 0px 30px 0;

	.dynamic-form-input {
		width: 227px;
		height: 40px;
	}

}

.custom-table-wrapper {
	background-color: rgb(236, 237, 254);
	border-radius: 4px;
	padding: 20px;
	min-height: 455px;

	.form-details {

		.form-heading {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			color: #6D6D6D;
			vertical-align: middle;
		}

		.form-btn {
			button {
				margin-left: 24px;
			}
		}
	}
}

.table-btn {
	display: flex;
}

.add-new-form {
	background-color: #093185;
	color: white;
}