.chartLayout-container {
	padding: 0px 26px;
	margin-top: 10px;

	.ant-select-selector {
		border-radius: 4px !important;
	}

	.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
		color: var(--primary-color);
	}

	.ant-tabs-ink-bar {
		background: var(--primary-color);
	}

	.ant-tabs-tab:hover {
		color: #486b69 !important;
	}

	.button-visible {
		p {
			visibility: hidden;
		}
	}

	.chart-table {
		max-height: 52vh;
		overflow: auto;

		.chart-layout {
			display: flex;

			.scatter-chart {
				margin-top: 25px;

				.show-ppk {
					border: 1px solid #268397;
					border-radius: 5px;
					padding: 26px 28px;
					width: 300px;

					height: 140px;
					margin: 40px 80px;

					span {
						font-family: 'Roboto';
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 14px;
						padding-bottom: 18px;
						display: block;
						/* identical to box height, or 100% */
						color: #6D6D6D;
					}

					p {
						font-family: 'Roboto';
						font-style: normal;
						font-weight: 400;
						font-size: 16px;
						line-height: 14px;
						/* identical to box height, or 88% */
						padding-bottom: 16px;
						display: block;
						margin: 0px;
						color: #000000;
					}
				}
			}
		}


		.tabledata {
			.ant-table-thead>tr>th {
				background: #f2fbff;
				padding: 16px 8px;
				font-size: 12px;
				font-weight: 600;
			}

			.ant-table-cell {
				svg {
					color: red !important;
				}
			}

			.ant-table {
				border: 2px solid #f0f0f0 !important;
				border-radius: 4px !important;
			}

			.ant-table-tbody>tr>td {
				padding: 16px 8px;
				font-size: 12px;

				svg {
					color: red;
				}
			}
		}
	}
}

.exclusion-modal {
	.ant-row {
		padding-bottom: 15px;
	}

	.ant-row:last-of-type {
		margin-top: 4px !important;
		padding-bottom: 0px !important;
	}

	textarea {
		margin-top: 7px !important;
	}

	p {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;
		padding-bottom: 7px !important;
	}

	.ant-checkbox-wrapper {
		flex-direction: row-reverse !important;
		margin-top: 33px !important;
	}

	.ant-checkbox-checked .ant-checkbox-inner {
		background-color: var(--primary-color) !important;
		border-color: var(--primary-color) !important;
	}

	.btn-three {
		display: flex;
		justify-content: space-between;

		button:first-of-type {
			margin-top: 0px !important;
		}

		.last-btn {
			button:last-of-type {
				margin-left: 16px;
			}
		}
	}
}