.img{
    width: 25px;
    // color: #ffffff;
    padding-right: 11px;
    
}
.button-layouts{
    text-align: center;
}
.empty-box{
    padding: 50px;
    text-align: center;
    
}
.emty-img{
    width: 150px;
}