// .ant-table-selection-column {
//   display: none;
// }

.modal-search-bar {
  right: 18px;
  top: 10px;
  position: absolute;
  span{
    button{
      color: #ccc;
      border-color: #ccc;
      background: #fff;
      padding: 6px 10px;
        }
  }
}
