.chart-tiles {
	height: 84px;
	cursor: pointer;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e2e8f2;
	position: relative;

	.tile-status {
		// background: #F7BB61;
		border-radius: 4px;
		margin-right: right;
		position: absolute;
		top: 0%;
		right: 0%;
		padding: 0 6px;
		align-content: center;
		font-size: small;
	}
}

// .tile {
// 	display: grid;
// 	grid-template-columns: 1fr 1fr 1fr 1fr;
// 	grid-gap: 24px;
// 	text-align: center;

.awap {
	background: #f7bb61;
	align-content: center;
	font-size: 8px;
}

.aprd {
	background: #a4f588;
	font-size: 8px;
}

.drft {
	background: #363636;
	color: white;
	font-size: 8px;
}
.reject
{
	background: #D64045;
	color: white;
	font-size: 8px;
	
}

// }