.functionEditor-container {
    .functionEditor-FormBlock {
        grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
    }
    .MathEditor-FormBlock {
        grid-template-columns: 1.5fr 1fr;
        padding-top: 24px;
    }

    .ant-col.ant-form-item-control {
        width: 164px;
    }

    .functionBatch-table {
        width: 330px;
        .ant-card-head{
            background-color:#f0f7fa !important;
            border-bottom: 1px solid #ececec !important;
        
        }
        .ant-card-body{
            border:'1px solid #ececec';
            border-radius:'2px';
        }
    }

    .MathEditor-table {
        width: 600px;
    }
   
    
}
.cardClass.ant-card-bordered{
    height:150px;
}

.tabledisable{
    cursor:not-allowed;
    background-color: #f5f5f5;
    pointer-events: none;
}
