.schedule-modal
{
    .ant-modal-header
{
background-color: #F1F7FF !important;
// border-radius: 4px;
}
.ant-tabs-tab-btn
{
    margin-top: 10px;
}
.ant-tabs-nav-wrap
{
    width: 220px;
}

.anticon .anticon-close .ant-modal-close-icon 
svg
{
margin-bottom: 5px;
}
}