.dashboard-cards {
	.ant-card-body {
		padding: 16px;
	}
}
.global-filters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 187px;
	padding: 1px 14px;
}
.inner-chart-filters {
	height: 40px;
	padding: 5px 11px;
	border-bottom: 2px solid #d9d9d9;
	background: #f1f7ff;
	border-radius: 4px 4px 0px 0px;
}
.show-data {
	padding: 10px 0;
	display: grid;
	grid-template-columns: 150px 20px;
	grid-gap: 0px 10px;
	margin-top: -6px;
	p {
		margin: 0;
		font-family: var(--primary-font-family);
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;
		color: #777777;
	}

	button {
		margin: 3px 0;
	}
}

.dashboard-timerange {
	width: 682px;
	background: #ffffff;
	box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
	padding: 15px;
	position: absolute;
	z-index: 999;
}

.grid-2-columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px 20px;
}
.chartCard {
	height: 485px;
	//overflow-y: scroll;
	background: #ffffff;
	border: 2px solid #d9d9d9;
	box-sizing: border-box;
	border-radius: 4px;
}

.newCard {
	height: 485px;
	//overflow-y: scroll;
	background: #ffffff;
	border: 2px dashed #cdcdcd;
	box-sizing: border-box;
	border-radius: 4px;
}
.before-new-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 170px;
	svg {
		cursor: pointer;
		font-size: 40px;
		color: #cbcbcb;
	}
	p {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		margin-top: 10px;
	}
}
.chart-row {
	margin-top: 34px;
}

.global-filters-params {
	border: 1px solid var(--primary-color);
	box-sizing: border-box;
	border-radius: 2px;
	.ant-select-selection-placeholder,
	.ant-picker-input input::placeholder {
		font-family: var(--primary-font-family);
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #444444;
	}
}

.dashboard-chart-name {
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #000000;
}

.dashboard-filters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 35px;
}
