.sign{
    width: 353px ;
    margin-top: 70px;
    .ant-card-body {
		height: 309px !important;
	}
}
.electronic{
    display: flex ;
    justify-content: center ;
}
.authenticte_button{
    float: right ;
    margin-top: 20px ;
}
.pbr-container {
	overflow-y: scroll ;
	height: 90vh ;
	overflow-x: hidden ; 
}
.p-28
 {
	margin: 10px 0px 20px ;
	.ant-card-body {
		height: 90vh;
	}
	.card-body-div {
		padding-left: 6px;
		padding-right: 8px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		:nth-child(3) {
			margin-top: -80px;
		}
		img {
			width: 230px;
		}
		h6 {
			font-size: 16px;
			font-weight: 400;
			line-height: 22px;
			color: #666666;
		}
		.text-descp {
			h2 {
				font-size: 24px;
				font-weight: 400;
				line-height: 22px;
			}
			p {
				font-size: 18px;
				font-weight: 300;
				line-height: 22px;
			}
		}
	}
}

.cardText{
    margin-top: 30px;
    margin-left: 10px;
    font-weight: bold;
}
.cardInput{
height: 40px;
}
.cardInput1{
    height: 40px;
    margin-top: 10px;
}
.cardButton{
    width: 304px;
    height: 40px;
    background: #AF39B5;
    border-radius: 6px;
    color: white;
}
.signatureModal{
    width: 595px !important;
    background: #F3F0F0 !important;
    height: 264px;
	.ant-modal-header{
		background: #F3F0F0;
	}
	.ant-modal-body{
		background: #F3F0F0;
	}
	.ant-modal-footer{
		background: #F3F0F0;
	}

}
.modalButton{
    .ant-modal-content{
        background-color: #F3F0F0 !important;
    }
    background: #AF39B5;
    border-radius: 6px;
    color: white;
}
