.sign{
    width: 500px !important;
}
.electronic{
    display: flex !important;
    justify-content: center !important;
    position: absolute !important;
    top: 40% !important;
    left: 35% !important;
}
.authenticte_button{
    float: right !important;
    margin-top: 20px !important;
}