.Pbrfileupload
.ant-upload.ant-upload-select-picture-card {
    width: 130px;
}

.Pbrfileupload
.ant-upload-picture-card-wrapper{
    width: 130px;
}

.pdfListBlock {
	
	img {
		margin-right: 4px;
	}
}
.ant-row.p-28 {
	padding: 0 28px;
}