 .custom-treenode {
 	.ant-tree-switcher {
 		width: 10px !important;
 	}

 	.ant-tag-geekblue {
 		word-break: break-all;
 		white-space: break-spaces;
 	}

 	.ant-tag-has-color {
 		word-break: break-all;
 		white-space: break-spaces;
 		background: #1d39c4;
 		color: #f0f5ff;
 	}

 	.tree-index {
 		.ant-tree-indent {
 			width: 40px !important;
 		}
 	}

 	max-height: 500px;
 	overflow: auto;

 }

 .highlight-tag {
 	word-break: break-all;
 	white-space: break-spaces;
 }