.select_field_search {
	p {

		font-family: var(--primary-font-family);
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;
		/* identical to box height, or 157% */
		/* Gray / gray-9 */
		color: #262626;
		margin-bottom: 7px;
	}

	.search-block {
		position: relative;

		.close-search {
			border: 0;
			position: absolute;
			right: -5px;
			top: 1px;
			background: transparent;
		}
	}

	.field-error {
		margin: 0px;
		color: #ff4d4f;
		padding: 6px 0;
	}
}