.hierarchy-card
{
    min-height: 100px;
    max-height: 750px;
    // overflow: scroll;
    .title-card
    {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }
    .ant-tabs-nav-wrap
    {
    height:50px;
    padding: 5px 5px 0px 0px;;
    background:none;
    box-shadow: none;
    }
    .ant-tabs-tab-btn
    {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.85);
    }
    .ant-tabs-tab-btn:hover
    {
      color: rgba(0, 0, 0, 0.85);
    }
    .ant-tabs-tab-active .ant-tabs-tab-btn
    {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color:#093185 !important;
    }
    .ant-tabs-ink-bar 
    {
      background: #093185;
    } 
.title-button
{
    margin-left: 50%;
    width: 131px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #093185;
    .see-all
    {
        margin-left: 13%;
    }
}
.hier-tab
{
.ant-tabs-nav-list
{
    margin-left: 1.2%;
}
.ant-tabs-tab-btn[aria-selected="true"] {

    color: #093185 o !important;
  }
 
  .tab-title
  {
    width: 393px;
    height: 19px;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-left: 1.2%;
    color: #000000;
  }
    .hierarchy-table
    {
        margin-left : 1.2%;
        width:  1240px;
        margin-top: 30px;
    }
    .hierarchy-map-table
    {
        margin-left : 1.2%;
        width:  1240px;
        margin-top: 10px;

    }
    .ant-table-cell
    {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #141414;
    }
    .map-grid
    {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        grid-gap: 24px;
    }
    .map-box
    {
        width: 200px;
        height: 351px;
        background: rgba(72, 107, 201, 0.73);
        border: 1px solid #486BC9;
        box-sizing: border-box;
        border-radius: 4px;
        margin-top: 10px;

    }
    .map-box-text
    {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        align-items: center;
        margin-left: 15px;
        margin-top: 10px;
        
        color: #FFFFFF;
    }
    .map-box-tile
    {
        align-items: center;
        padding: 1px 8px 1px 16px;
        width: 150px;
        height: 32px;
        background: #FFFFFF;
        border-radius: 25px;
        margin-left: 20px;
        margin-top: 10px;
    }
    .map-box-tile-text
    {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        margin-top: 5px;

        color: #000000;
    }
    .add-button
    {
        width: 1240px;
        margin-left : 1%;
        height: 51px;
        border: 1px dashed #D9D9D9;
        // background-color: black;

    }
    .add-row-button
    {
        align-items: center;
        padding: 5px 16px;
        width: 146px;
        height: 32px;
        /* Gray / gray-1 */
        background: #FFFFFF;
        /* Gray / gray-5 */
        border: 1px dashed #D9D9D9;
        box-sizing: border-box;
        border-radius: 2px;
        margin-left: 45%;
        margin-top: .5%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        
        
        color: #093185;
    }
    .tab-button
    {
        align-items: center;
        padding: 5px 18px;
        width: 73px;
        height: 32px;
        color: black;
        background: #FFFFFF;
        border: 1px solid #093185;
        border-radius: 4px;
        margin-left : 94%
    }
    .data-button-one
    {
        box-sizing: border-box;
        align-items: center;
        padding: 5px 18px;
        gap: 8px;
        width: 73px;
        height: 32px;
        left: 863px;
        background: #FFFFFF;
        border: 1px solid #093185;
        border-radius: 4px;
    }
    .data-button
    {
        box-sizing: border-box;
        align-items: center;
        padding: 5px 18px;
        gap: 8px;
        width: 73px;
        height: 32px;
        left: 943px;
        background: #FFFFFF;
        border: 1px solid #093185;
        border-radius: 4px;
    }
    .tab-button-one
    {
        padding: 5px 16px;
        gap: 8px;
        width: 134px;
        height: 32px;      
        background: #F5F5F5;        
        border: 1px solid #D9D9D9;
        border-radius: 4px;
    }
    .tab-button-two
    {
        padding: 5px 16px;
        gap: 8px;
        width: 134px;
        height: 32px;      
        background: #093185; 
        color: white;       
        border: 1px solid #D9D9D9;
        border-radius: 4px;
    }
    
    .tab-button-text
    {
        width: 35px;
        align-items: center;
        height: 22px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color:black;
    }
}

}
.landing-modal {
	.ant-modal-content {
		width: 787px;
		height: auto;
		background: #ffffff;
		border-radius: 4px;
	}
	.ant-modal-footer {
		border-top: 0px;
	}
    .modal-button
    {
        background-color: '#093185';
        color: 'white';
        border-radius: '4px' 
    }
}