.hierarchy-card {
	min-height: 100px;
	max-height: 750px;
	// overflow: scroll;

	.ant-card-body {
		padding: 0px;
	}

	.title-card {
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
	}

	.ant-tabs-nav-wrap {
		height: 50px;
		padding: 5px 5px 0px 0px;
		background: none;
		box-shadow: none;
	}

	.ant-tabs-tab-btn {
		font-family: var(--primary-font-family);
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: rgba(0, 0, 0, 0.85);
	}

	.ant-tabs-tab-btn:hover {
		color: rgba(0, 0, 0, 0.85);
	}

	.ant-tabs-tab-active .ant-tabs-tab-btn {
		font-family: var(--primary-font-family);
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		color: var(--primary-color) !important;
	}

	.ant-tabs-ink-bar {
		background: var(--primary-color);
	}

	.title-button {
		margin-left: 50%;
		width: 131px;
		height: 19px;
		font-family: var(--primary-font-family);
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: var(--primary-color);

		.see-all {
			margin-left: 13%;
		}
	}

	.hier-tab {
		.hier-tab__button {
			p {
				margin: 0px;
			}

			justify-content: space-between;
			padding-bottom: 15px;
			display: flex;
			width: 1240px;

			>div {
				display: flex;
				gap: 16px;
			}
		}

		.ant-tabs-nav {
			padding: 20px 24px 0 24px;
		}

		.ant-tabs-content {
			padding: 12px 24px;

			.hier-tab__head {
				display: flex;
				justify-content: space-between;

				.hier-tab__heading {
					font-weight: 300;
					font-size: 16px;
					line-height: 19px;
					color: #000000;
					padding-bottom: 30px;
				}
			}
		}

		.popover-hier {
			left: 1050px;
		}

		.ant-tabs-tab-btn[aria-selected='true'] {
			color: var(--primary-color) !important;
		}

		.tab-title {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
		}

		.hierarchy-table {
			width: 1240px;
			margin-top: 10px;
		}

		.hierarchy-map-table {

			width: 1240px;
			margin-top: 10px;
		}

		.ant-table-cell {
			font-family: var(--primary-font-family);
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			color: #141414;
		}

		.map-grid {
			display: grid;
			width: 1240px;
			// grid-template-columns: 1.3fr 1fr;
			grid-gap: 24px;
		}

		.map-box {
			width: 200px;
			height: 351px;
			background: rgba(72, 107, 201, 0.73);
			border: 1px solid #486bc9;
			box-sizing: border-box;
			border-radius: 4px;
			margin-top: 10px;
		}

		.map-box-text {
			font-family: var(--primary-font-family);
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
			align-items: center;
			margin-left: 15px;
			margin-top: 10px;

			color: #ffffff;
		}

		.map-box-tile {
			align-items: center;
			padding: 1px 8px 1px 16px;
			width: 150px;
			height: 32px;
			background: #ffffff;
			border-radius: 25px;
			margin-left: 20px;
			margin-top: 10px;
		}

		.map-box-tile-text {
			font-family: var(--primary-font-family);
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 20px;
			/* identical to box height, or 143% */
			margin-top: 5px;

			color: #000000;
		}

		.add-button {
			width: 1240px;

			height: 51px;
			border: 1px dashed #d9d9d9;
			// background-color: black;
		}

		.add-row-button {
			align-items: center;
			padding: 5px 16px;
			width: 146px;
			height: 32px;
			/* Gray / gray-1 */
			background: #ffffff;
			/* Gray / gray-5 */
			border: 1px dashed #d9d9d9;
			box-sizing: border-box;
			border-radius: 2px;
			margin-left: 45%;
			margin-top: 0.5%;
			font-family: var(--primary-font-family);
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 22px;
			/* identical to box height, or 157% */

			color: var(--primary-color);
		}

		.tab-button {
			align-items: center;
			padding: 5px 18px;
			width: 73px;
			height: 32px;
			color: black;
			background: #ffffff;
			border: 1px solid var(--primary-color);
			border-radius: 4px;
			margin-left: 94%;
		}

		.data-button-one {
			box-sizing: border-box;
			align-items: center;
			padding: 5px 18px;
			gap: 8px;
			width: 73px;
			height: 32px;
			left: 1000px;
			position: absolute;
			background: #ffffff;
			border: 1px solid var(--primary-color);
			border-radius: 4px;
		}

		.data-button {
			box-sizing: border-box;
			align-items: center;
			padding: 5px 18px;
			gap: 8px;
			width: 73px;
			height: 32px;
			left: 1000px;
			position: absolute;
			background: #ffffff;
			border: 1px solid var(--primary-color);
			border-radius: 4px;
		}

		.tab-button-one {
			padding: 5px 16px;
			gap: 8px;
			width: 134px;
			height: 32px;
			background: #f5f5f5;
			border: 1px solid #d9d9d9;
			border-radius: 4px;
		}

		.tab-button-two {
			padding: 5px 16px;
			gap: 8px;
			width: 134px;
			height: 32px;
			background: var(--primary-color);
			color: white;
			border: 1px solid #d9d9d9;
			border-radius: 4px;
		}

		.tab-button-text {
			width: 35px;
			align-items: center;
			height: 22px;
			font-family: var(--primary-font-family);
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 22px;
			color: black;
		}
	}
}

.ant-select-selector {
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #262626;
	margin-left: 10px;
}

.popover-content {
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
}