.controlLimit{
    .ant-table-thead > tr > th {
        background: #f2fbff;
        padding: 10px;
    }
    
    .ant-table-title {
        font-family: Titillium Web;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        padding: 6px;
    }
    .ant-table-cell{
    font-family: Roboto;
    font-style: normal;
    color: #262626;
    padding: 8px;
    text-align: center;
        .ant-input{
            text-align: center;
            padding: 0px;
            width: 100%;
            border: 0px;
        }
    }
    .add-row-btn{
        float: right;
        color:#000000;
        width: 85px;
        height: 25px;
        line-height: 0.5715;
        background: #F0F7FA;
        border: 1px solid #BFBFBF;
        box-sizing: border-box;
    }
    .ant-picker{
        padding: 0px;
        border: 0px;
    }
    .ant-picker-input>input::placeholder {
        color: #1890FF;
     }
    .ant-picker-input>input {
        color: #1890FF;
    }
}
