.import-chart{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
margin:0px;
color: #262626;
}

.show-preview-btns{
    background: #FFFFFF;
    border: 1px solid #093185;
    border-radius: 4px;
}