.import-chart {
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	margin: 0px;
	color: #262626;
}

.show-preview-btns {
	background: #ffffff;
	border: 1px solid var(--primary-color);
	border-radius: 4px;
	margin-top: 20px;
}
