.input_field {
	p {
		margin: 0 !important;
		font-family: var(--primary-font-family);
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;
		/* identical to box height, or 157% */
		/* Gray / gray-9 */
		color: #262626;
		padding-bottom: 5px;
	}
}
