.ant-tabs{
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 22px !important;
    // width: 66px !important;
    // height: 22px !important;
    // left: 0px !important;
    // top: 8px !important;
}
.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar {
    top: 0;
}