.ant-card-body {
	padding: 12px;
}

.schedule-modal {
	.ant-modal-body {
		padding: 0px !important;
	}
}
.schedule-menu {
	.ant-tabs-nav-wrap {
		padding: 4px 0px;
		height: 534px;
		background: #001529;
		box-shadow: inset -1px 0px 0px #f0f0f0;
	}
	.ant-tabs-tab {
		font-family: var(--primary-font-family);
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: grey;
	}
	.ant-tabs-tab-btn:hover {
		color: #ffffff;
	}
	.ant-tabs-tab-active {
		> .ant-tabs-tab-btn {
			font-family: var(--primary-font-family);
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			color: #ffffff;
		}
	}
	.ant-tabs-ink-bar {
		background: transparent;
	}
}

.schedule-alerts {
	padding: 24px 24px 0px 0px;
}
.alerts-text {
	display: flex;
	justify-content: space-between;
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	.alert-title {
		color: #000000;
	}
	.alert-arrow {
		text-decoration-line: underline;
		color: var(--primary-color);
	}
}
.bread-wrap {
	.bread-crumb-wrapper {
		box-shadow: none !important;
		// padding: 0px !important;
	}
}
