.chartview-input,
.chartview-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 20px;
}

.chartview-input-landing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px 20px;
  background-color: #fff;
  padding: 20px;
}

.chartview-select {
  margin-bottom: 10px;
}

.alert-tags {
  display: block;
  .alert-tags_block {
    display: inline-flex;
    margin: 0 0 0 24px;
    .alert-tags-label {
      width: 120px;
      text-align: center;
      margin: 0;
    }
    .alert-progress {
      margin-left: 20px;
      width: 45px;
      text-align: center;
    }
  }
  .alert-tags_error {
    display: inline-flex;
    margin: 6px 0;
    span {
      margin: 4px;
    }
    .alert-tags-label {
      width: 120px;
      text-align: center;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */

      color: #eb2f96;
    }
    .tag-percent {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */
      margin: 0px;
      /* Gray / gray-9 */
      padding: 5px 20px;
      color: #262626;
      border-right: 1px solid #ddd;
      width: 75px;
    }
    .tag-stats {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      /* identical to box height, or 157% */
      margin: 0px;
      padding: 5px 10px;
      color: #000000;
    }
    .alert-progress-error {
      margin-left: 15px;
      width: 45px;
      text-align: center;
    }
  }
}
