.chartview-input,
.chartview-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 20px;
}

.chartview-input-landing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px 20px;
  background-color: #fff;
  padding: 20px;
}

.chartview-select {
  margin-bottom: 10px;
}

.alert-tags {
  display: block;
  .alert-tags_block {
    margin-bottom: 5px;
    .alert-tags-label {
      width: 120px;
      text-align: center;
    }
    .alert-progress {
      margin-left: 10%;
      width: 45px;
      text-align: center;
    }
  }
  .alert-tags_error {
    span {
      margin-bottom: 5px;
    }
    .alert-tags-label {
      width: 120px;
      text-align: center;
    }
    .alert-progress-error {
      margin-left: 6%;
      width: 45px;
      text-align: center;
    }
  }
}
