.button--delete {
    background-color: orange;
}

.first-Table {
    margin-bottom: 30px;
    margin-top: 10px;
}

.ant-tabs-nav-wrap {
    padding: 4px 0px;
    color: #001529;
    box-shadow: inset -1px 0px 0px #f0f0f0;
}

.ant-tabs-tab {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #001529;
}

.ant-tabs-tab-btn:hover {
    color: grey;
}

.ant-tabs-tab-active {
    color: #001529;

    >.ant-tabs-tab-btn {
        font-family: var(--primary-font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        // color: #ffffff;
        color: #001529;
    }
}

.ant-tabs-ink-bar {
    background: transparent;
}

.template-card-subheading-data-inside {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    margin-left: 22px;
    color: #262626;
}

.approved-bar {
    height: 22px;
    width: 67px;
    left: 164px;
    top: 237px;
    border-radius: 2px;
    padding: 1px 8px 1px 8px;
    background: #fed8b1;
    /* Polar Green / 3 */

    border: 1px solid orange;
    border-radius: 2px;
}