#header {
	background-color: #fff;
	padding: 13px;
	height: 58px;
	line-height: 58px;
	margin-left: 0px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
	display: flex;
	width: 100%;
	z-index: 9999;
	flex-direction: row;
	justify-content: space-between;



	#hamburger {
		line-height: normal;
		vertical-align: top;
	}

	#search-header {
		margin-left: 30px;
	}
}

.header-logo {
	span {
		margin: 0 8px;
		border-right: 2px solid #486bc9;
		border-left: 1px solid #fff;
		padding: 6px 0;
	}
}

.logout-btn {
	padding: 0 6px;

	span {
		font-size: 22px;
		vertical-align: super;
	}

	cursor: pointer;
}

.subheader {
	display: flex;
}

.custom-menu {
	position: relative;

	.user-name {
		display: flex;

		p {
			padding: 0 8px;
			margin: -11px 0 0 0;
		}
	}

	.menu-detail {
		width: 260px;
		height: 281px;
		position: absolute;
		background-color: #fff;
		box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
		right: 0;
		top: 45px;
		display: none;

		.avatar-details {
			text-align: center;
			border-bottom: 1px solid #D9D9D9;

			.username {
				font-family: var(--primary-font-family);
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				margin: 0px;
				color: #000000;
			}

			.email {
				font-family: var(--primary-font-family);
				font-style: normal;
				font-weight: 300;
				font-size: 14px;
				line-height: 22px;
				margin: 0px;
				color: #2B2B2B;
			}
		}

		.submenu {
			border-bottom: 1px solid #D9D9D9;
			padding: 18px 24px;

			p {
				span {
					color: #486BC9;
				}

				cursor: pointer;
				font-family: var(--primary-font-family);
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 22px;
				/* identical to box height, or 157% */
				/* Gray / gray-9 */
				color: #262626;
			}
		}

		.logout {
			padding: 12px 24px;

			p {
				span {
					color: #486BC9;
				}

				cursor: pointer;
				font-family: var(--primary-font-family);
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 22px;
				/* identical to box height, or 157% */
				/* Gray / gray-9 */
				color: #262626;
			}
		}
	}
}