#header {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
	background-color: #162154;
	padding: 5px 10px;
	height: 50px;
	line-height: 50px;
	margin-left: 0px;
	display: flex;
	width: 100%;
	z-index: 10;
	flex-direction: row;
	justify-content: space-between;

	#hamburger {
		line-height: normal;
		vertical-align: top;
	}

	#search-header {
		margin-left: 30px;
	}
}


.dropdown-content {
	z-index: 9999 !important;
	top: 46px !important;
	border-radius: 0px !important;
	width: 250px;
	background: #fff;
	box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px 0 #00000014,
		0 9px 28px 8px #0000000d;

	.space-class {
		margin-top: 10px;
		margin-left: 16px;

		p {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 22px;
			color: #797979;
			margin-bottom: 0px !important;
		}
	}
}

.dropdown-content .ant-dropdown-menu {
	box-shadow: none;

	a {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		line-height: 22px;
		color: #262626;
	}
}

.ant-dropdown {
	top: 46px !important;
}


.header-logo {
	span {
		margin: 0 8px;
		border-right: 2px solid #486bc9;
		border-left: 1px solid #fff;
		padding: 6px 0;
	}
}

.logout-btn {
	padding: 0 6px;

	span {
		font-size: 22px;
		vertical-align: super;
	}

	cursor: pointer;
}

.subheader {
	display: flex;
}

.custom-menu {
	position: relative;

	.caret {
		position: absolute;
		top: 20px;
		right: 30px;
		color: #fff;

	}

	.user-name {
		display: flex;
		padding: 9px 0;

		.login-name {
			font-family: 'Maven Pro';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			color: #FFFFFF;
			cursor: pointer;
			margin: 0px;
			padding: 3px 0;
		}

		.user-avatar {
			width: 22px;
			height: 22px;
			line-height: 22px;
			font-size: 14px;
			background-color: #ff7a45;
			margin: 0px 6px;
			border: 1px solid #fff;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
		}

	}

	.menu-detail {
		width: 260px;
		height: 345px;
		position: absolute;
		background-color: #fff;
		box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
		right: 0;
		top: 46px;

		.avatar-details {
			text-align: center;
			border-bottom: 1px solid #D9D9D9;
			padding: 12px 0;

			.username {
				font-family: var(--primary-font-family);
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				margin: 0px;
				color: #000000;
				padding: 2px 0;

				span {
					width: 22px;
					height: 22px;
					line-height: 22px;
					font-size: 14px;
					background-color: orange;
					font-weight: 400;
					padding: 1px;
					font-family: var(--primary-font-family);
				}
			}

			.email {
				font-family: var(--primary-font-family);
				font-style: normal;
				font-weight: 300;
				font-size: 14px;
				line-height: 22px;
				margin: 0px;
				color: #2B2B2B;
			}
		}

		.submenu {
			border-bottom: 1px solid #D9D9D9;
			padding: 9px 24px;

			p {
				margin: 0;
				padding: 9px 0px;

				span {
					color: #486BC9;
					padding: 0 6px;
				}

				cursor: pointer;
				font-family: var(--primary-font-family);
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 22px;
				/* identical to box height, or 157% */
				/* Gray / gray-9 */
				color: #262626;
			}
		}

		.logout {
			padding: 12px 24px;

			p {
				span {
					color: #486BC9;
					padding: 0 6px;
				}

				cursor: pointer;
				font-family: var(--primary-font-family);
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 22px;
				/* identical to box height, or 157% */
				/* Gray / gray-9 */
				color: #262626;
			}
		}
	}
}

.down-icon {
	padding: 7px 8px 0px 8px;
	cursor: pointer;
	color: #fff;
	font-size: 12px;
}

.avatar-details {
	>img {
		width: 64px;
		height: 64px;
		margin: 10px 0px;
		border-radius: 100%;
		border: 2px solid #486BC9;
	}
}