// .tiles{
//     box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.14);
//     border-radius: 4px;
//     margin-top:24px;
// }
// .icon_name{
//     color:white;
//     font-size: 22px;
// }

// .circle_icon{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: -45px;
//   height: 40px;
//   width: 40px;
//   background-color:#486BC9;
//   border-radius: 50%;
  
// }
.approve-wrapper{
    display: grid;
    grid-template-columns: repeat(6, 193px);
    grid-gap: 8px 24px;

.approval-cards{
    
    width: 193px;
    padding: 21px 6px 40px 6px;
    position:relative;  
    background: #FFFFFF;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    .circle_icon{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
    text-align: center;
    top: -18px;
    background: #486BC9;
    width: 37px;
    height: 37px;
    border-radius: 100px;
    padding: 7px;
    color: #ffff;
    font-size: 18px;
    }
    .approve-title{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 34px;
        line-height: 22px;
        /* identical to box height, or 65% */
        margin: 0px;
        padding-top: 19px;
        text-align: center;
        color: #000000;
    }
    .approve-desc{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        padding-top: 20px;
        margin: 0px;
        text-align: center;
        color: #000000;
    }
}
}

.approval-cards:focus{
    background: #486BC9;  
    .circle_icon{
        background:blue;
    }
    .approve-title{
        color: white;
    }
    .approve-desc{
        color: white;
    }
   
}

