.layout-jumbo-header {
	background-color: #fff;
	width: 100%;
	padding: 42px 20%;
	border-radius: 4px;

	.profile-section {
		text-align: center;

		.heading-1 {
			font-family: 'Maven Pro';
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 22px;
			/* identical to box height, or 92% */
			color: #4D4D4D;
		}

		.heading-2 {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 22px;
			/* identical to box height, or 138% */
			color: #000000;
		}
	}

	.edit-form {
		.heading {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			/* identical to box height, or 122% */
			color: #000000;
		}

		.split-form {
			display: flex;
			gap: 18px;

			.input_field {
				margin: 19px 0;

				p {
					padding-bottom: 8px;
				}
			}

			div {

				width: 100%;
			}
		}
	}
}

.layout-section-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 18px;

	.layout-section {
		border-radius: 4px;
		background-color: #fff;
		padding: 42px 36px;
		width: 100%;
		margin: 23px 0px;

		.heading {
			font-family: 'Maven Pro';
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 22px;
			/* identical to box height, or 92% */
			color: #4D4D4D;
		}

		.sub-heading {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 22px;
			/* or 138% */
			color: #000000;
		}

		.split-form {
			.select-field {
				width: 326px;
			}

			.input_field {
				margin: 19px 0;

				p {
					padding-bottom: 8px;
				}
			}
		}
	}
}

.input-pass {
	width: 320px;
	margin-bottom: 23px;

	p {
		margin: 0;
		font-family: var(--primary-font-family);
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;
		color: #262626;
	}

	>span {
		margin-top: 8px;
	}
}