.dash-username{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 22px;
    color: #000000;
    margin-top: 10px;

}
.dash-text{
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
color: #000000;

}

.workflow_items{
    margin-top:30px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:0px 19px;

}
.approve-wrapper{
    display: grid;
    grid-gap:19px 0px;
    //margin:22px 28px 19px 18px ;
    margin:0px;
}
.workflow_head{
    width: 1332px;
    height: 168px;
    background: linear-gradient(180deg, #F1F7FF 0%, #DFE9FF 55.21%, #BDCFFF 100%);
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
    // background: #F1F7FF;
    // box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.illustration{
    float: right;
    position: relative;
    /* top: 0px; */
    bottom: 105px;
    right: 300px;
}
.resultdate{
    float: right;
    position: relative;
    bottom: 90px;
    left: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color:#666666;
}
.table-cards{
    //position: relative;
    //margin-left: 320px;
    width: 997px;
    height: 490px;
    background: #FFFFFF;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid #486BC9;
    box-sizing: border-box;
    .ant-card-head{
        background: #FFFFFF !important;
        height: 65px !important;
    }
    .ant-card-head-title{
        padding:12px 15px !important;
    }
    .ant-card-body{
        padding: 0px 25px !important;
    }
}

.table-head{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #262626;
   
}
.workflow-tabs{
    .ant-tabs-tab-btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.85);
    }
    .ant-tabs-tab-active .ant-tabs-tab-btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color:#093185 !important;
    }
    .ant-tabs-ink-bar {
        background: #093185;
      }
    
 }

 .empty-workflow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    //position: relative;
    //margin-left: 320px;
    width: 997px;
    height: 490px;
    background: #FFFFFF;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
 }

 .approval-table-block {
    position: relative;
    .card-arrow {
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 12px 10px 0;
      border-color: transparent white transparent transparent;
      z-index: 1;
      left: -12px;
      box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1) !important;
    }
    .arrow-step-0 {
      top: 25px;
    }
    .arrow-step-1 {
      top: 106px;
    }
    .arrow-step-2 {
      top: 195px;
    }
    .arrow-step-3 {
      top: 278px;
    }
    .arrow-step-4 {
      top: 365px;
    }
    .arrow-step-5 {
      top: 446px;
    }
  }



   
