.workflow_items {
	margin-top: 30px;
	display: flex;
	gap: 0px 18px;
}
.approve-wrapper {
	display: grid;
	grid-gap: 19px 0px;
	//margin:22px 28px 19px 18px ;
	margin: 0px;
}

.table-cards {
	background: #ffffff;
	box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	border: 1px solid #486bc9;
	box-sizing: border-box;
	height: 490px;
	.ant-card-head {
		background: #ffffff !important;
		height: 65px !important;
		padding: 20px 7px !important ;
	}
	.ant-card-head-title {
		//padding: 12px 15px !important;
	}
	.ant-card-body {
		padding: 0px 25px !important;
	}
}

.table-head {
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #262626;
}
.workflow-tabs {
	.ant-tabs-tab-btn {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
		color: rgba(0, 0, 0, 0.85);
	}
	.ant-tabs-tab-active .ant-tabs-tab-btn {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
		color: var(--primary-color) !important;
	}
	.ant-tabs-ink-bar {
		background: var(--primary-color);
	}
}

.empty-workflow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	//position: relative;
	//margin-left: 320px;
	width: 100%;
	height: auto;
	background: #ffffff;
	box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

.approval-table-block {
	position: relative;
	.card-arrow {
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 12px 10px 0;
		border-color: transparent white transparent transparent;
		z-index: 1;
		//box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1) !important;
		left: -8px;
		filter: drop-shadow(-3px 0px 0px #486ac9);
	}
	.arrow-step-0 {
		top: 25px;
	}
	.arrow-step-1 {
		top: 106px;
	}
	.arrow-step-2 {
		top: 195px;
	}
	.arrow-step-3 {
		top: 278px;
	}
	.arrow-step-4 {
		top: 365px;
	}
	.arrow-step-5 {
		top: 446px;
	}
}

.workflow-right-block {
	width: 75%;
}

.data-empty {
	margin: 30px 0;
	.ant-empty-image {
		height: 280px;
		svg {
			width: 100%;
		}
	}
}
