.reportDesigner-gen {
	.report-heading {
		font-family: var(--primary-font-family);
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #262626;
	}

	.head-main {
		width: 100%;
		margin-left: 22px;
	}

	.colon {
		margin-right: 10px;
		margin-left: 10px;
	}

	.report-name {
		width: auto;
		float: left;
		margin-left: 55px;
	}

	.reportDesigner-block-left {
		display: grid;
		grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
		grid-gap: 5px 5px;
		padding: 25px;
		// // align-items: center;
		margin: 10px 0px;
		height: 100px;
		// margin-left: 10px;
		background-color: white !important;
	}

	.reportDesigner-block-right {
		padding: 20px;
		// .ant-row.ant-form-item {
		//   display: grid;
		//   grid-template-columns: 1fr 2fr;

		//   .ant-form-item-label {
		//     text-align: left;
		//   }
		// }
	}

	.ant-row.ant-form-item {
		margin: 0px 0px 10px;

		label {
			font-weight: 600;
		}
	}
}

.formview-input {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px 20px;
}

.reportDesigner-filter {
	display: flex;
	flex-direction: row;
	margin: 5px;
}

.filter-button {
	// width: 150px;
	flex: 1 1 auto;
	width: 175px;
	height: 32px;
}

.reportDesigner-grids {
	width: 200px;
	height: 200px;
	border: 1px solid #c3c3c3;
	display: flex;
	flex-flow: row-reverse wrap;
}

.filter-text {
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
}

.generator-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
}

.header-value {
	// width: 50px;
	height: 22px;
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #262626;
	margin-left: 20px;
}