.workflow-table{
    th:first-of-type {
        padding-left: 25px !important;
       
    }
    th:last-of-type {
        padding-right: 25px !important;
       
    }
    td:first-of-type {
        padding-left: 25px !important;
       
    }
    td:last-of-type {
        padding-right: 25px !important;
       
    }
}

.approval-table{
    
}