.approval-table {

	.ant-table .ant-table-thead>tr>th {
		font-family: var(--primary-font-family);
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
		color: #262626;
		background: rgba(242, 251, 255, 1);
		border-radius: 0px 2px 0px 0px;
		padding: 10px;
	}

	.ant-table-tbody>tr>td {
		font-family: var(--primary-font-family);
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #000000;

		padding: 10px;
	}
}

.avatar-icon {
	color: #ffff;
	background-color: #728c69;
}

.avatar-text {
	padding: 6px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 6px;
}

.creator {
	display: flex;
	vertical-align: middle;

}

.review-submission {
	font-family: var(--primary-font-family);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	color: var(--primary-color);
}