.container {
  display: inline-flex;
  align-items: center;
  width: 100% !important;
  padding: 4px 4px;
  border: 1px solid #bfc9d9;
  border-radius: 4px;
  input[type="color"] {
    margin-right: 8px;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 20px;
    background: none;
    outline: none;
    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }
    &::-webkit-color-swatch {
      border: 1px solid #bfc9d9;
      border-radius: 50px;
      padding: 0;
    }
  }
  input[type="text"] {
    border: none;
    width: 100%;
    font-size: 14px;
  }
}
