.form-wrapper {
	padding: 35px;
	background: #EDECFF;
	border-radius: 12px;
}

.title-layout {
	flex-grow: 1;
	font-family: 'Maven Pro';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}

.stepper-layout {
	flex-grow: 1;
}

.button-layout {
	flex-grow: 8;
	text-align: end;
}

.ant-steps {
	width: 500px;
}

.ant-steps-item-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
}

.ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
	color: #000;
}

.ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title:after {
	background-color: #1890FF;
}

.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title:after {
	background-color: #1890FF;
}

.ant-steps-item-title {
	color: #000000;
}

.content-layout {
	background: #ffffff;
	padding: 35px;
}

.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon {
	background: #1890FF;
	border: #1890FF;
}

.template-header {
	background: #F1F7FF;
	padding: 12px 32px;

	p {
		margin: 0;
		font-family: 'Maven Pro';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		/* identical to box height, or 138% */
		color: #4D4D4D;
	}
}