.form-wrapper {
	display: flex;
	background: #fff;
	padding: 19px 26px;

	.form-left-panel {
		padding-right: 35px;
	}

	.form-right-panel {
		background: #EDECFF;
		border-radius: 12px;
		height: auto;
		width: 100%;
		padding: 32px;
	}
}

.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon {
	background: #162154;
	border: #162154;
}

.template-header {
	background: #F1F7FF;
	padding: 12px 32px;

	p {
		margin: 0;
		font-family: 'Maven Pro';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		/* identical to box height, or 138% */
		color: #4D4D4D;
	}
}