.summary-li
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;  
    color: #BFBFBF;
    margin-top: 10px;
}
.summary-note
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #545353;
}
.summary-input
{
    width: 100px;
}
.summary-card
{
    max-height: 600px;
    overflow-y: auto;
}