.view__landing--layout {
	gap: 0 24px;
	display: flex;

	.trigger__left {
		position: absolute;
		left: -21px;
		top: 50%;
	}

	.trigger__right {
		position: absolute;
		right: -21px;
		top: 50%;

		.panel__left--img {
			transform: rotate(180deg);
		}
	}

	.view-summary__center {
		width: 80% !important;
	}

	.ant-layout-sider {
		background: #fff;
	}
}


.empty--layout {
	/* Regular / 14px | 22px */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	/* identical to box height, or 157% */
	text-align: center;
	color: #646464;

	.ant-empty-image {
		.ant-empty-img-simple {
			width: 100%;
		}
	}
}

.variable__card--wrapper {
	// overflow: hidden;
	//height: calc(100vh - 200px);
}

.side__panel--empty {
	margin: 0px auto;

	.ant-empty {
		margin: 25vh auto;
		display: block;
		margin-left: auto;
		margin-right: auto;

		.ant-empty-image {
			height: 250px;

			svg {
				width: 100%;
			}
		}
	}
}

.table--taxt__overflow {
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0px;
}