.reportDesigner-filter-grid {
  .reportDesigner-form-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
  }

  .ant-row.ant-form-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0px 0px 10px;

    .ant-picker {
      width: 100%;
      border-radius: 2px;
    }

    label {
      font-weight: 600;
    }

    .ant-col.ant-form-item-label {
      text-align: left;
    }
  }

  .reportDesigner-form-right {
    margin-top: 10px;
    span.checkbox-label {
      font-weight: 600;
      margin-right: 10px;
    }
    label.ant-checkbox-wrapper {
      font-weight: 600;
    }
  }
}
