.uploadSelect{
    width: 113px;
}

.ant-upload-list-item-card-actions-btn{
    opacity: 1;
   
}
.ant-upload-list-item-card-actions{
    .ant-upload-list-item-card-actions-btn:nth-child(1){
        margin-right: 110px;
    }
    
}