@import './assets/styles/css/doNotModify/custom-theme.css';
@import './assets/styles/sass/variables';
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--primary-color: #093185;
	--border-color: #40a9ff;
}

body {
	margin: 0;
	font-family: var(--primary-font-family) !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

.inline {
	display: inline-block !important;
}

.search-secondary.ant-input-search {
	border: 2px solid var(--secondary-color);
	border-radius: 10px;
	width: 291px;
}

.search-secondary .ant-input-group-addon button {
	background-color: var(--secondary-color);
	font-size: 16px;
}

.search-secondary.ant-input-search-enter-button input {
	border-radius: 10px;
}

.search-secondary.ant-input-search-enter-button input:focus,
.search-secondary.ant-input-search-enter-button input:hover {
	border-color: transparent !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
.ant-layout-sider {
	overflow: auto !important;
	 height: 100vh !important;
}
#logo-small {
	display: none;
}
aside{
	.ant-tooltip {
		display: none !important;
	  }
  
}

.custom-table-wrapper .button-dashed__primary {
	color: var(--primary-color);
	border: 1px dashed #486bc9;
}

.custom-table-wrapper .button-dashed__primary:hover {
	background-color: #486bc9;
	color: #fff;
}

.custom-table-wrapper .button-dashed__primary:focus {
	color: var(--primary-color);
	border: 1px dashed #486bc9;
}

button.button-solid__primary {
	background: var(--primary-color) !important;
	color: #fff !important;
	border-radius: 4px !important;
	border-color: var(--primary-color) !important;
}

button.button-solid__primary:hover {
	background: #486bc9 !important;
}

.icon-primary {
	color: var(--primary-color) !important;
}

.custom-table-wrapper .button-dashed__primary .anticon {
	font-size: large !important;
	vertical-align: middle !important;
}

// .ant-table-header {
// 	background-color: red;
// }

.ant-table-header > table {
	border: none !important;
}
