@import './assets/styles/css/doNotModify/custom-theme.css';
@import './assets/styles/sass/variables';
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//font-family: 'Maven Pro', sans-serif;
//font-family: 'Roboto', sans-serif;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.inline {
  display: inline-block !important;
}

.search-secondary.ant-input-search {
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  width: 291px;
}

.search-secondary .ant-input-group-addon button {
  background-color: var(--secondary-color);
  font-size: 16px;
}

.search-secondary.ant-input-search-enter-button input {
  border-radius: 10px;
}
.search-secondary.ant-input-search-enter-button input:focus,
.search-secondary.ant-input-search-enter-button input:hover {
  border-color: transparent !important;
}

// .ant-layout-sider {
//   margin-top: 58px;
// }
#logo-small {
  display: none;
}
