@primary-color: #093185; // primary color for all components
@link-color: #093185; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 13px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 2px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers
@menu-collapsed-width: 60px; // collapsed sidemenu width

//--cpv custome theme
@primary-button-color: #093185;
@table-header-color: #f2fbff;
@primary-text-color: #5e5e5e;
@title-color: #262626;
@primary-blue-10: #002766;
@primary-blue-9: #093185;
@primary-blue-8: #0050b3;
@primary-blue-7: #096dd9;
@primary-blue-6: #1890ff;
@primary-blue-5: #40a9ff;
@primary-blue-4: #91d5ff;
@primary-blue-3: #bae7ff;
@primary-blue-2: #e6f7ff;
@primary-blue-1: #f2fbff;
