h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: Roboto;
	font-style: normal;
	letter-spacing: 0em;
}
.ant-card-body {
	border-radius: 4px;
}

.pbr-container {
	overflow-y: scroll !important;
	height: 90vh !important;
	overflow-x: hidden !important; 
}

.p-28
.banner {
	margin: 10px 0px 20px !important;
	.ant-card-body {
		height: 168px;
		background: linear-gradient(180deg, #e7e5ff 0%, #fff4f4 100%);
	}
	.card-body-div {
		padding-left: 6px;
		padding-right: 8px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		:nth-child(3) {
			margin-top: -80px;
		}
		img {
			width: 230px;
		}
		h6 {
			font-size: 16px;
			font-weight: 400;
			line-height: 22px;
			color: #666666;
		}
		.text-descp {
			h2 {
				font-size: 24px;
				font-weight: 400;
				line-height: 22px;
			}
			p {
				font-size: 18px;
				font-weight: 300;
				line-height: 22px;
			}
		}
	}
}

.landing-content {
	margin-top: 5px;

	.ant-card-body {
		min-height: 65vh;
	}
	.ant-input-search-button {
		background-color: var(--primary-color) !important;
	}
	.ant-input-search-button:hover {
		background: #486bc9 !important;
	}
	.p36 {
		padding: 12px 18px;
		.title-legends {
			display: flex;
			justify-content: flex-end;
			dl dt {
				display: inline-block;
				width: 14px;
				height: 14px;
				border-radius: 50%;
				vertical-align: middle;
			}
			dl dd {
				display: inline-block;
				margin: 0px 12px;
				padding-bottom: 0;
				vertical-align: middle;
				font-family: var(--primary-font-family);
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 10px;
			}
			dl dt.grey {
				background: #363636;
			}
			dl dt.yellow {
				background: #f6ba60;
			}
			dl dt.green {
				background: #a4f588;
			}
			dl dt.red {
				background: #D64045;
			}
		}
	}
	.create-new {
		height: 137px;
		width: 175px;
		border-radius: 4px;
		background: #ffffff;
		border: 1px dashed #d9d9d9;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		margin-top: 13px;
		margin-bottom: 10px;
		svg {
			cursor: pointer;
			margin-top: 10px !important;
			font-size: 40px;
			color: #cbcbcb;
		}
		p {
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			color: #494949;
		}
	}
	.create-new:hover {
		border: 1px dashed #40a9ff;
		p {
			color: #40a9ff;
		}
	}
}

.recent-charts {
	.ant-divider-horizontal {
		margin: 0px !important;
		margin-bottom: 12px !important;
		border-top: 1px solid #e2e2e2;
	}
	h3 {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		color: #000000;
	}
	.chart-tiles {
		height: 84px;
		width: 162px;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.red {
		background: #f0ad4e;
	}
	.reject{
		background-color: red;
	}
	.green {
		background: #5cb85c;
	}
	.draft {
		background: grey;
	}
}

.ant-row.p-28 {
	padding: 0 28px;
}

.pbrTemplates-table {
	table {
		box-shadow: 1px 1px 14px #0000001a;
	}

	.ant-table-row:nth-child(even) {
		background-color: transparent;
	}

	.ant-table .ant-table-thead > tr > th {
		font-family: var(--primary-font-family);
		color: #262626 !important;
		font-weight: 500;
		font-size: 14px;
		background-color: #f0f7fa;
	}

	.ant-table-tbody > tr > td {
		font-family: var(--primary-font-family);
		color: #000000;
		font-weight: 400;
		font-size: 14px;
		border: none;
		border-bottom: 1px solid #d9d9d9;
	}
}

.ant-modal.newTemplateModal {
	// .ant-modal-content{
	// 	height: 430px;
	// }
	.ant-modal-header {
		.ant-modal-title {
			font-family: var(--secondary-font-family);
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
		}
	}
	.ant-modal-body {
		padding: 24px 24px 0px 24px;
	}

	button.ant-btn.ant-btn-primary.templateSubmitBtn {
		background-color: var(--primary-color);
		border-radius: 4px;
	}

	form.ant-form.ant-form-vertical.formNewTemplate {
		.formNewTemplateDiv {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 0 24px;
		}

		label {
			font-weight: 400;
			color: #262626;
			line-height: 22px;
		}
	}
}

.radioPdfBlock {
	width: 100%;
	display: grid !important;
	grid-template-rows: 1fr;
	// grid-gap: 0 24px;
	margin-bottom: 10px !important;
	height: 140px;
	overflow-y: scroll;
	overflow-x: hidden;
	
	label {
		padding: 11px 5px;
		border: 0.5px solid #c2c2c2;
		border-radius: 4px;
		margin: 10px 0px;
		height: 57px;
	}
	.ant-radio-button-wrapper{
		margin-right: 10px;
	}

	.ant-radio-button-wrapper:first-child {
		border-radius: 4px;
	}

	.ant-radio-button-wrapper:not(:first-child):before {
		background-color: transparent;
	}

	.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
		border-color: #486bc9;

		&::after {
			content: '';
			position: absolute;
			background-image: url('../../../../assets/images/checkbox.svg');
			width: 18px;
			height: 18px;
			top: -12px;
			right: -8px;
		}
	}
}

.pdfListBlock {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	
	img {
		margin-right: 4px;
	}

	span {
		color: var(--primary-color);
		font-family: var(--primary-font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
	}
}

// .newTemplate-imgBlock {
// 	// display: flex;
// 	// justify-content: center;
// }

.dashboard-search{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}

.card-legends {
	border-bottom: 1px solid #e2e2e2;
	margin: 4px 0 10px 0;
	display: flex;
	margin-top: 20px;
	justify-content: space-between;

	.legends {
		display: flex;

		p {
			padding: 0 5px 0 15px;
			display: flex;
			margin-left: 0px;

			.drft {
				width: 14px;
				height: 14px;
				border-radius: 50px;
				background: #363636;
				display: block;
				margin: 3px 6px;
			}

			.aprv {
				width: 14px;
				height: 14px;
				border-radius: 50px;
				background: #a4f588;
				margin: 3px 6px;
				display: block;
			}

			.await {
				width: 14px;
				height: 14px;
				border-radius: 50px;
				background: #f6ba60;
				margin: 3px 6px;
				display: block;
			}
		}
	}
}
