.MuiAccordionSummary-content.Mui-expanded {
	margin: 0px 0;
}

.MuiDialogContent-root {
	background: #f6f4fc;
}

.MuiDialogTitle-root {
	background: #0d4a7c;
	padding: 2px 12px !important;

	h6 {
		color: #fff;
	}

	custom-table-card button {
		color: #fff;
		// top: -5px;
		// right: 3px;
	}
}

.dialog-bg {
	background-color: #fff !important;
}

.MuiBreadcrumbs-separator {
	color: #0d4a7c;
}

.table-search {
	margin: 6px 12px;
	width: 230px;
	float: right;

	span {
		input {
			border-radius: 4px 0 0 4px;
			padding: 4px 12px;
		}
	}
}

.table-column {
	float: right;
	padding: 10px;
}

.custom-table-card {
	border: 1px solid #eee;
	box-sizing: border-box;
	background: #fff;
	border-radius: 2px;
	margin-top: 12%;

	.table-header {
		border-bottom: 1px solid #eee;
		display: block;
		overflow: hidden;
		margin-bottom: 0;

		//margin: 10;
		div:nth-child(1) {
			float: left;
			padding: 13px 16px;
		}

		div:nth-child(2) {
			float: right;
		}

		p {
			font-size: 16px;
			font-weight: 600;
			margin: 0;
			color: #495fc3;
		}
	}
}

.custom-formcontrol-style1 {
	padding: 3px 5px !important;

	>label {
		position: relative;
		font-size: 13px;
		font-weight: 600;
		transform: none;
		margin: 0px !important;
		padding: 2px 0 !important;
		z-index: unset;
	}

	>div {
		display: grid;
		border-radius: 5px;
		width: 200px;
		background: #ffffff;
		color: black;
		height: 33px !important;
		font-size: 13px;
	}

	.MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'] {
		height: 33px !important;

		>input {
			font-size: 13px;
			font-weight: 500;
			padding: 0 4px !important;
		}
	}
}

.custom-autocomplete {
	margin: 12px 0;
}

.ant-picker {
	box-sizing: border-box;
	margin: 0;
	color: rgba(0, 0, 0, 0.85);
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5715;
	list-style: none;
	font-feature-settings: 'tnum', 'tnum';
	padding: 4px 11px 4px;
	position: relative;
	display: inline-flex;
	align-items: center;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.23);
	border-radius: 5px;
	transition: border 0.3s, box-shadow 0.3s;
}

.old_value_class {
	word-break: break-word;
	inline-size: 15%;
}

.divFilter {
	display: grid;
	grid-template-columns: 0.20fr 0.20fr 0.20fr 0.15fr 0.15fr;
	background-color: white;
	padding: 24px 16px;
	border-radius: 4px;
	grid-gap: 24px;

	>div {
		>p {
			font-family: var(--primary-font-family);
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 22px;
			color: #262626;
			margin-bottom: 7px;
		}
	}

	button {
		margin-top: 28px
	}
}

.filter-header {
	background-color: white !important;
}

.ant-select-single .ant-select-selector {
	display: block;
}

.limitDropdown .ant-select-selector {
	padding: 0px !important;
}

.highlight {
	background: rgb(255, 192, 105);
	margin: 0;
	padding: 3px 6px;
	border-radius: 4px;
	width: fit-content;
}