.labeldiv {
	padding-bottom: 12px;
}

.modelsaveform {
	padding-inline: 17px;
	padding-top: 16px;

}

.modelsavefields {
	padding-bottom: 14px;
	width: 233px;
}

.ant-modal-header {
	border-radius: 4px 4px 0 0;
	background: #EDECFF;
	border-bottom: 1px solid #d9d9d9;
}