.app-panel {
    background-color: #fff;
    width: 100%;
    padding: 12px;
    .ant-space-item {
        .select_field {
            width: 200px;
        }
    }
}

.table-search {
    margin: 6px 12px;
    width: 230px;
    float: right;
    span {
        input {
            border-radius: 4px 0 0 4px;
            padding: 6px 12px;
        }
        span {
            .ant-btn-primary {
                color: #fff;
                background: #495fc3;
                border-color: #495fc3;
            }
        }
    }
}

.mg-top-20 {
    margin-top: 20px;
}

.custom-table-card {
    border: 1px solid #eee;
    box-sizing: border-box;
    background: #fff;
    border-radius: 2px;
    .table-header {
        border-bottom: 1px solid #eee;
        display: block;
        overflow: hidden;
        margin-bottom: 0;
        div:nth-child(1) {
            float: left;
            padding: 13px 16px;
        }
        div:nth-child(2) {
            float: right;
        }
        p {
            font-size: 16px;
            font-weight: 600;
            margin: 0;
            color: #495fc3;
        }
    }
}
